In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
phase_1 =  pd.read_csv(parent_directory + '/data/phase_1_data.csv')
phase_1.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,Temperature24,Temperature48,Temperature72
0,Exp_553,2020-02-01 00:00:00+00:00,2020-02-01,1,Phase_1,1.174,7.6,6.1,5.0,4.4
1,Exp_553,2020-02-01 01:00:00+00:00,2020-02-01,2,Phase_1,1.172,8.2,6.2,5.1,4.4
2,Exp_553,2020-02-01 02:00:00+00:00,2020-02-01,3,Phase_1,1.207,8.4,6.3,5.3,4.5
3,Exp_553,2020-02-01 03:00:00+00:00,2020-02-01,4,Phase_1,1.613,8.4,6.4,5.4,4.5
4,Exp_553,2020-02-01 04:00:00+00:00,2020-02-01,5,Phase_1,1.101,8.2,6.5,5.5,4.6

In [3]:
survey_phase_1 = pd.read_csv(parent_directory + '/data/survey1_answers.csv')
survey_phase_1.head()

,ID,q1,q2,q3,q4,q5,q6,q6b1,q6b2,q6c,...,q22,q23,q24.1,q24.2,q24.3,q24.4,q24.5,q24.6,q24.7,husstand
0,Exp_743,Yes,Variable price,No,Detached house,160 m2 or larger,Yes,Yes,Yes,NaN,...,NOK 800 000 - 999 999,Yes,0,0,0,0,0,2,0,-
1,Exp_236,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,No,NaN,NaN,...,NOK 1 000 000 - 1 499 999,Yes,0,0,0,3,0,0,0,Single-family households with adult children (...
2,Exp_744,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,Yes,Yes,NaN,...,NOK 1 500 000 or more,No,0,1,0,2,0,0,0,-
3,Exp_745,Yes,Spot price / Hourly spot,Yes,Detached house,120-159 m2,Yes,No,NaN,NaN,...,NOK 500 000 -799 999,Yes,0,0,0,0,0,2,0,-
4,Exp_746,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,No,NaN,NaN,...,NOK 800 000 - 999 999,Yes,0,1,0,1,0,1,0,-

In [4]:
survey_phase_2 = pd.read_csv(parent_directory + '/data/survey2_answers.csv')
survey_phase_2.head()

,ID,Aq1_1,Aq1_2,Aq1_3,Aq1_4,Aq1_5,Aq1_6,Aq1_7,Aq1_8,Aq1_9,...,Aq20_10,Aq21_1,Aq21_2,Aq21_3,Aq21_4,Aq21_5,Aq21_6,Aq21_7,Aq21_8,Aq22
0,Exp_743,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,Exp_236,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
2,Exp_744,Yes,-,-,-,-,-,-,"Yes, we were more or fewer residents than in J...",-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
3,Exp_745,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,Exp_747,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes

In [5]:
phase_1_ID = set(phase_1["ID"])
survey_phase_1_ID = set(survey_phase_1["ID"])

unique_ids_1 = phase_1_ID.intersection(survey_phase_1_ID)
unique_ids_1

{'Exp_103',
 'Exp_111',
 'Exp_12',
 'Exp_124',
 'Exp_128',
 'Exp_17',
 'Exp_182',
 'Exp_191',
 'Exp_208',
 'Exp_222',
 'Exp_223',
 'Exp_23',
 'Exp_271',
 'Exp_272',
 'Exp_313',
 'Exp_315',
 'Exp_325',
 'Exp_332',
 'Exp_356',
 'Exp_365',
 'Exp_367',
 'Exp_420',
 'Exp_445',
 'Exp_446',
 'Exp_451',
 'Exp_460',
 'Exp_462',
 'Exp_49',
 'Exp_500',
 'Exp_502',
 'Exp_509',
 'Exp_518',
 'Exp_529',
 'Exp_547',
 'Exp_56',
 'Exp_567',
 'Exp_570',
 'Exp_587',
 'Exp_612',
 'Exp_62',
 'Exp_643',
 'Exp_649',
 'Exp_693',
 'Exp_732',
 'Exp_737',
 'Exp_86',
 'Exp_93'}

In [5]:
survey_phase_1

,ID,q1,q2,q3,q4,q5,q6,q6b1,q6b2,q6c,...,q22,q23,q24.1,q24.2,q24.3,q24.4,q24.5,q24.6,q24.7,husstand
0,Exp_743,Yes,Variable price,No,Detached house,160 m2 or larger,Yes,Yes,Yes,NaN,...,NOK 800 000 - 999 999,Yes,0,0,0,0,0,2,0,-
1,Exp_236,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,No,NaN,NaN,...,NOK 1 000 000 - 1 499 999,Yes,0,0,0,3,0,0,0,Single-family households with adult children (...
2,Exp_744,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,Yes,Yes,NaN,...,NOK 1 500 000 or more,No,0,1,0,2,0,0,0,-
3,Exp_745,Yes,Spot price / Hourly spot,Yes,Detached house,120-159 m2,Yes,No,NaN,NaN,...,NOK 500 000 -799 999,Yes,0,0,0,0,0,2,0,-
4,Exp_746,Yes,Spot price / Hourly spot,No,Detached house,160 m2 or larger,Yes,No,NaN,NaN,...,NOK 800 000 - 999 999,Yes,0,1,0,1,0,1,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,Exp_1719,Yes,Don't know,Don't know,Semi-detached house,160 m2 or larger,Yes,Yes,Yes,NaN,...,NOK 500 000 -799 999,Yes,3,2,0,1,0,0,0,-
1678,Exp_1720,Yes,Don't know,No,Detached house,120-159 m2,Yes,No,NaN,NaN,...,NOK 800 000 - 999 999,Yes,0,0,0,1,0,1,0,-
1679,Exp_1721,Yes,Spot price / Hourly spot,Don't know,"Townhouses, chain houses and other small house...",120-159 m2,Yes,No,NaN,NaN,...,NOK 800 000 - 999 999,Yes,0,0,0,2,0,1,0,-
1680,Exp_1722,Yes,Don't know,Don't know,Detached house,120-159 m2,Yes,No,NaN,NaN,...,NOK 500 000 -799 999,Yes,0,0,0,0,0,2,0,-
1681,Exp_1723,Yes,Don't know,No,Detached house,160 m2 or larger,Yes,No,NaN,NaN,...,NOK 800 000 - 999 999,No,2,0,0,2,0,0,0,-

In [7]:
phase_1

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,Temperature24,Temperature48,Temperature72
0,Exp_553,2020-02-01 00:00:00+00:00,2020-02-01,1,Phase_1,1.174,7.6,6.1,5.0,4.4
1,Exp_553,2020-02-01 01:00:00+00:00,2020-02-01,2,Phase_1,1.172,8.2,6.2,5.1,4.4
2,Exp_553,2020-02-01 02:00:00+00:00,2020-02-01,3,Phase_1,1.207,8.4,6.3,5.3,4.5
3,Exp_553,2020-02-01 03:00:00+00:00,2020-02-01,4,Phase_1,1.613,8.4,6.4,5.4,4.5
4,Exp_553,2020-02-01 04:00:00+00:00,2020-02-01,5,Phase_1,1.101,8.2,6.5,5.5,4.6
...,...,...,...,...,...,...,...,...,...,...
97195,Exp_460,2020-03-20 19:00:00+00:00,2020-03-20,20,Phase_1,0.852,4.0,4.4,4.5,4.8
97196,Exp_460,2020-03-20 20:00:00+00:00,2020-03-20,21,Phase_1,0.705,3.0,4.4,4.4,4.8
97197,Exp_460,2020-03-20 21:00:00+00:00,2020-03-20,22,Phase_1,0.781,2.5,4.4,4.4,4.8
97198,Exp_460,2020-03-20 22:00:00+00:00,2020-03-20,23,Phase_1,0.657,2.2,4.4,4.4,4.7
97199,Exp_460,2020-03-20 23:00:00+00:00,2020-03-20,24,Phase_1,0.626,1.9,4.3,4.3,4.7

In [9]:
questions_selected = survey_phase_1[['ID','q5','q16_bil_b','q9N1','q9N2','q9N3','q9N4','q9N5','q9N6','q9N7','q9N8','q19']]
questions_selected = questions_selected.dropna()
questions_selected['q19'] = questions_selected['q19'].str.extract('(\d+)').astype(int)
questions_selected

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\alfre\AppData\Local\Temp\ipykernel_14176\4222699499.py:3: SyntaxWarning: invalid escape sequence '\d'
  questions_selected['q19'] = questions_selected['q19'].str.extract('(\d+)').astype(int)

,ID,q5,q16_bil_b,q9N1,q9N2,q9N3,q9N4,q9N5,q9N6,q9N7,q9N8,q19
0,Exp_743,160 m2 or larger,Yes,No,Additional heat source,Main heat source,No,Additional heat source,Additional heat source,No,No,2
1,Exp_236,160 m2 or larger,No,Main heat source,Additional heat source,No,No,Additional heat source,No,No,No,3
2,Exp_744,160 m2 or larger,Yes,Main heat source,Additional heat source,Additional heat source,Additional heat source,Additional heat source,Additional heat source,Additional heat source,No,3
3,Exp_745,120-159 m2,No,Main heat source,Additional heat source,No,No,Additional heat source,No,No,No,2
4,Exp_746,160 m2 or larger,No,Main heat source,Additional heat source,No,No,No,No,No,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1677,Exp_1719,160 m2 or larger,No,Main heat source,Additional heat source,No,No,Additional heat source,No,No,No,6
1678,Exp_1720,120-159 m2,No,Additional heat source,Additional heat source,Main heat source,No,No,No,No,No,2
1679,Exp_1721,120-159 m2,No,Main heat source,Additional heat source,No,No,No,No,No,No,3
1680,Exp_1722,120-159 m2,Yes,Additional heat source,Additional heat source,No,No,Main heat source,Additional heat source,No,No,2
1681,Exp_1723,160 m2 or larger,No,No,Additional heat source,Main heat source,No,Additional heat source,No,No,No,4

In [10]:
def is_electrically_heated(row):
    electric_sources = ['Main heat source', 'Additional heat source']
    if (row['q9N1'] in electric_sources) or (row['q9N2'] in electric_sources) or (row['q9N3'] in electric_sources):
        return True
    else:
        return False

questions_selected['electrically_heated'] = questions_selected.apply(is_electrically_heated, axis=1)
questions_selected=questions_selected.drop(columns=['q9N1','q9N2','q9N3','q9N4','q9N5','q9N6','q9N7','q9N8'])
questions_selected.rename(columns={'q5': 'home_size'}, inplace=True)
questions_selected.rename(columns={'q16_bil_b': 'electric_car'}, inplace=True)
questions_selected.rename(columns={'q19': 'no_of_people'}, inplace=True)

In [11]:
phase_1_survey_merged = pd.merge(phase_1, questions_selected, on='ID', how='inner')
phase_1_survey_merged = phase_1_survey_merged.drop(columns=["Temperature24","Temperature48","Temperature72"])
phase_1_survey_merged.to_csv(parent_directory+"/data/phase_1_data_with_survey.csv",index=False)
phase_1_survey_merged

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,home_size,electric_car,no_of_people,electrically_heated
0,Exp_62,2020-02-01 00:00:00+00:00,2020-02-01,1,Phase_1,1.925,7.6,120-159 m2,Yes,3,True
1,Exp_62,2020-02-01 01:00:00+00:00,2020-02-01,2,Phase_1,2.002,8.2,120-159 m2,Yes,3,True
2,Exp_62,2020-02-01 02:00:00+00:00,2020-02-01,3,Phase_1,2.019,8.4,120-159 m2,Yes,3,True
3,Exp_62,2020-02-01 03:00:00+00:00,2020-02-01,4,Phase_1,2.205,8.4,120-159 m2,Yes,3,True
4,Exp_62,2020-02-01 04:00:00+00:00,2020-02-01,5,Phase_1,2.834,8.2,120-159 m2,Yes,3,True
...,...,...,...,...,...,...,...,...,...,...,...
64795,Exp_460,2020-03-20 19:00:00+00:00,2020-03-20,20,Phase_1,0.852,4.0,60-79 m2,Yes,1,False
64796,Exp_460,2020-03-20 20:00:00+00:00,2020-03-20,21,Phase_1,0.705,3.0,60-79 m2,Yes,1,False
64797,Exp_460,2020-03-20 21:00:00+00:00,2020-03-20,22,Phase_1,0.781,2.5,60-79 m2,Yes,1,False
64798,Exp_460,2020-03-20 22:00:00+00:00,2020-03-20,23,Phase_1,0.657,2.2,60-79 m2,Yes,1,False
64799,Exp_460,2020-03-20 23:00:00+00:00,2020-03-20,24,Phase_1,0.626,1.9,60-79 m2,Yes,1,False

In [13]:
len(phase_1_survey_merged["ID"].unique())

36

In [14]:
phase_2 =  pd.read_csv(parent_directory + '/data/phase_2_data.csv')
phase_2.head()

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,Temperature24,Temperature48,Temperature72
0,Exp_3928,2020-12-01 00:00:00+00:00,2020-12-01,1,Phase_2,4.43,4.2,0.7,-0.8,-1.3
1,Exp_3928,2020-12-01 01:00:00+00:00,2020-12-01,2,Phase_2,4.50,4.2,1.0,-0.7,-1.2
2,Exp_3928,2020-12-01 02:00:00+00:00,2020-12-01,3,Phase_2,5.44,3.9,1.3,-0.6,-1.0
3,Exp_3928,2020-12-01 03:00:00+00:00,2020-12-01,4,Phase_2,4.50,3.1,1.6,-0.5,-0.9
4,Exp_3928,2020-12-01 04:00:00+00:00,2020-12-01,5,Phase_2,4.48,2.4,1.8,-0.4,-0.8

In [15]:
survey_phase_2 = pd.read_csv(parent_directory + '/data/survey3_answers.csv')
survey_phase_2.head()

,ID,QI1,QI2,QI5,QI6,QI7_1,QI7_2,QI7_3,QI7_4,QI7_5,...,Q37_1,Q37_2,Q37_3,Q37_4,Q37_5,Q37_6,Q37_7,Q37_8,Q37_9,Q38
0,Exp_5046,Woman,35,Yes,4,0.0,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Exp_5386,Man,41,Yes,5,0.0,2.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,Exp_5403,Woman,43,Yes,2,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Exp_5113,Man,57,Yes,3,0.0,0.0,0.0,0.0,0.0,...,-,-,-,-,-,Difficult to understand what I/we could have done,-,-,-,"Yes, the researchers can contact me via the sa..."
4,Exp_5240,Man,61,Yes,2,0.0,0.0,0.0,0.0,0.0,...,-,-,-,Did not have time to undertake measures to rea...,-,-,-,-,-,"Yes, the researchers can contact me via the sa..."

In [16]:
phase_2_ID = set(phase_2["ID"])
survey_phase_2_ID = set(survey_phase_2["ID"])

unique_ids_2 = phase_2_ID.intersection(survey_phase_2_ID)
unique_ids_2

{'Exp_3862',
 'Exp_4742',
 'Exp_2190',
 'Exp_2111',
 'Exp_2541',
 'Exp_5389',
 'Exp_5090',
 'Exp_3661',
 'Exp_4083',
 'Exp_3583',
 'Exp_3708',
 'Exp_2105',
 'Exp_2411',
 'Exp_1952',
 'Exp_3754',
 'Exp_2855',
 'Exp_5392',
 'Exp_4012',
 'Exp_4840',
 'Exp_5094',
 'Exp_2966',
 'Exp_4665',
 'Exp_4147',
 'Exp_3307',
 'Exp_3495',
 'Exp_3088',
 'Exp_3695',
 'Exp_3630',
 'Exp_4458',
 'Exp_4953',
 'Exp_4834',
 'Exp_3033',
 'Exp_2756',
 'Exp_5300',
 'Exp_4074',
 'Exp_4783',
 'Exp_2368',
 'Exp_4985',
 'Exp_3151',
 'Exp_2858',
 'Exp_5292',
 'Exp_2136',
 'Exp_3355',
 'Exp_4768',
 'Exp_5028',
 'Exp_2812',
 'Exp_3947',
 'Exp_2306',
 'Exp_4015',
 'Exp_3465',
 'Exp_4088',
 'Exp_3001',
 'Exp_2880',
 'Exp_3492',
 'Exp_4654',
 'Exp_4227',
 'Exp_4821',
 'Exp_5341',
 'Exp_2167',
 'Exp_5188',
 'Exp_5091',
 'Exp_4758',
 'Exp_3955',
 'Exp_2481',
 'Exp_3374',
 'Exp_3258',
 'Exp_2917',
 'Exp_5139',
 'Exp_3356',
 'Exp_1725',
 'Exp_4697',
 'Exp_1999',
 'Exp_4287',
 'Exp_2894',
 'Exp_4942',
 'Exp_4221',
 'Exp_2451',
 'Exp_2873',
 'Exp_4469',
 'Exp_2160',
 'Exp_3460',
 'Exp_4244',
 'Exp_3660',
 'Exp_4845',
 'Exp_4586',
 'Exp_4436',
 'Exp_5372',
 'Exp_3361',
 'Exp_5206',
 'Exp_2633',
 'Exp_3380',
 'Exp_1746',
 'Exp_2008',
 'Exp_4263',
 'Exp_5329',
 'Exp_3898',
 'Exp_2429',
 'Exp_2019',
 'Exp_5051',
 'Exp_2053',
 'Exp_4136',
 'Exp_5013',
 'Exp_1822',
 'Exp_4474',
 'Exp_2300',
 'Exp_2732',
 'Exp_4545',
 'Exp_4093',
 'Exp_4791',
 'Exp_5185',
 'Exp_4109',
 'Exp_4411',
 'Exp_5386',
 'Exp_2125',
 'Exp_3570',
 'Exp_4154',
 'Exp_4270',
 'Exp_5042',
 'Exp_2427',
 'Exp_1731',
 'Exp_3061',
 'Exp_5312',
 'Exp_2627',
 'Exp_4652',
 'Exp_3887',
 'Exp_4832',
 'Exp_3054',
 'Exp_3455',
 'Exp_2803',
 'Exp_4835',
 'Exp_3673',
 'Exp_4606',
 'Exp_3989',
 'Exp_5137',
 'Exp_5328',
 'Exp_3153',
 'Exp_2576',
 'Exp_4044',
 'Exp_3200',
 'Exp_3442',
 'Exp_3688',
 'Exp_1796',
 'Exp_5151',
 'Exp_2403',
 'Exp_5356',
 'Exp_1749',
 'Exp_3248',
 'Exp_4571',
 'Exp_2607',
 'Exp_3701',
 'Exp_2277',
 'Exp_4777',
 'Exp_3312',
 'Exp_5288',
 'Exp_3712',
 'Exp_3515',
 'Exp_5190',
 'Exp_3003',
 'Exp_3276',
 'Exp_2678',
 'Exp_2597',
 'Exp_3037',
 'Exp_1887',
 'Exp_2868',
 'Exp_2640',
 'Exp_2577',
 'Exp_3924',
 'Exp_2023',
 'Exp_4311',
 'Exp_2898',
 'Exp_2854',
 'Exp_4388',
 'Exp_5107',
 'Exp_2119',
 'Exp_4290',
 'Exp_2559',
 'Exp_2067',
 'Exp_2585',
 'Exp_3841',
 'Exp_4663',
 'Exp_4718',
 'Exp_1840',
 'Exp_3511',
 'Exp_4073',
 'Exp_3464',
 'Exp_5345',
 'Exp_2407',
 'Exp_3188',
 'Exp_3134',
 'Exp_4463',
 'Exp_4478',
 'Exp_2582',
 'Exp_2102',
 'Exp_4390',
 'Exp_1849',
 'Exp_1988',
 'Exp_3671',
 'Exp_3930',
 'Exp_3751',
 'Exp_2592',
 'Exp_2024',
 'Exp_5039',
 'Exp_2779',
 'Exp_3936',
 'Exp_4003',
 'Exp_4862',
 'Exp_4402',
 'Exp_3280',
 'Exp_5096',
 'Exp_4050',
 'Exp_5021',
 'Exp_1909',
 'Exp_3998',
 'Exp_5325',
 'Exp_4353',
 'Exp_1987',
 'Exp_4744',
 'Exp_3975',
 'Exp_3633',
 'Exp_4696',
 'Exp_2079',
 'Exp_3798',
 'Exp_5235',
 'Exp_5146',
 'Exp_4279',
 'Exp_2406',
 'Exp_2156',
 'Exp_4679',
 'Exp_2081',
 'Exp_3824',
 'Exp_3209',
 'Exp_2672',
 'Exp_4873',
 'Exp_5009',
 'Exp_3292',
 'Exp_3066',
 'Exp_4509',
 'Exp_5230',
 'Exp_2077',
 'Exp_3234',
 'Exp_5241',
 'Exp_2736',
 'Exp_3390',
 'Exp_4740',
 'Exp_5031',
 'Exp_2998',
 'Exp_3345',
 'Exp_4865',
 'Exp_5066',
 'Exp_2906',
 'Exp_4671',
 'Exp_2918',
 'Exp_3652',
 'Exp_2650',
 'Exp_1747',
 'Exp_2719',
 'Exp_2831',
 'Exp_2574',
 'Exp_3424',
 'Exp_3177',
 'Exp_2459',
 'Exp_1960',
 'Exp_5233',
 'Exp_3740',
 'Exp_1830',
 'Exp_3966',
 'Exp_3884',
 'Exp_4651',
 'Exp_1810',
 'Exp_3723',
 'Exp_3967',
 'Exp_2430',
 'Exp_2622',
 'Exp_2381',
 'Exp_2537',
 'Exp_1800',
 'Exp_3732',
 'Exp_1766',
 'Exp_2158',
 'Exp_5093',
 'Exp_5131',
 'Exp_5130',
 'Exp_2260',
 'Exp_4669',
 'Exp_4991',
 'Exp_1836',
 'Exp_3720',
 'Exp_4728',
 'Exp_2376',
 'Exp_2932',
 'Exp_4702',
 'Exp_1788',
 'Exp_3279',
 'Exp_2981',
 'Exp_2818',
 'Exp_2835',
 'Exp_2095',
 'Exp_2851',
 'Exp_3910',
 'Exp_2114',
 'Exp_4108',
 'Exp_1742',
 'Exp_3811',
 'Exp_2297',
 'Exp_2047',
 'Exp_5027',
 'Exp_4737',
 'Exp_4984',
 'Exp_3340',
 'Exp_1769',
 'Exp_1926',
 'Exp_2113',
 'Exp_4589',
 'Exp_3984',
 'Exp_2239',
 'Exp_1946',
 'Exp_4714',
 'Exp_3805',
 'Exp_2720',
 'Exp_2236',
 'Exp_2340',
 'Exp_5242',
 'Exp_3148',
 'Exp_4112',
 'Exp_2491',
 'Exp_1922',
 'Exp_5045',
 'Exp_2723',
 'Exp_1870',
 'Exp_5172',
 'Exp_5069',
 'Exp_3071',
 'Exp_4808',
 'Exp_3160',
 'Exp_2908',
 'Exp_1744',
 'Exp_2147',
 'Exp_2767',
 'Exp_5025',
 'Exp_5173',
 'Exp_1798',
 'Exp_3951',
 'Exp_3454',
 'Exp_4054',
 'Exp_4573',
 'Exp_2760',
 'Exp_3578',
 'Exp_3353',
 'Exp_2643',
 'Exp_3175',
 'Exp_2474',
 'Exp_3965',
 'Exp_4213',
 'Exp_1790',
 'Exp_1968',
 'Exp_3291',
 'Exp_3116',
 'Exp_4788',
 'Exp_2090',
 'Exp_1772',
 'Exp_2032',
 'Exp_5268',
 'Exp_3172',
 'Exp_4404',
 'Exp_2026',
 'Exp_5014',
 'Exp_4947',
 'Exp_2542',
 'Exp_3414',
 'Exp_5205',
 'Exp_5044',
 'Exp_3585',
 'Exp_5407',
 'Exp_4466',
 'Exp_1951',
 'Exp_4187',
 'Exp_2814',
 'Exp_4266',
 'Exp_3485',
 'Exp_4296',
 'Exp_2938',
 'Exp_2780',
 'Exp_4255',
 'Exp_1860',
 'Exp_2310',
 'Exp_2168',
 'Exp_3774',
 'Exp_2671',
 'Exp_4884',
 'Exp_2562',
 'Exp_4011',
 'Exp_1971',
 'Exp_3634',
 'Exp_5285',
 'Exp_2089',
 'Exp_1912',
 'Exp_5397',
 'Exp_4856',
 'Exp_3596',
 'Exp_4070',
 'Exp_3796',
 'Exp_4425',
 'Exp_2469',
 'Exp_2517',
 'Exp_4891',
 'Exp_3601',
 'Exp_4406',
 'Exp_2197',
 'Exp_4857',
 'Exp_2025',
 'Exp_3761',
 'Exp_3820',
 'Exp_1861',
 'Exp_5123',
 'Exp_2821',
 'Exp_4592',
 'Exp_2207',
 'Exp_2805',
 'Exp_3655',
 'Exp_4298',
 'Exp_2740',
 'Exp_3961',
 'Exp_4939',
 'Exp_2774',
 'Exp_2904',
 'Exp_2921',
 'Exp_4312',
 'Exp_4211',
 'Exp_3062',
 'Exp_1809',
 'Exp_3174',
 'Exp_3976',
 'Exp_2881',
 'Exp_3609',
 'Exp_2299',
 'Exp_3146',
 'Exp_3013',
 'Exp_4100',
 'Exp_3509',
 'Exp_3517',
 'Exp_3207',
 'Exp_1935',
 'Exp_3021',
 'Exp_3186',
 'Exp_2520',
 'Exp_4649',
 'Exp_3591',
 'Exp_4273',
 'Exp_4374',
 'Exp_4700',
 'Exp_4335',
 'Exp_2176',
 'Exp_4992',
 'Exp_2528',
 'Exp_1750',
 'Exp_4793',
 'Exp_3592',
 'Exp_3840',
 'Exp_4719',
 'Exp_2396',
 'Exp_4782',
 'Exp_2884',
 'Exp_1990',
 'Exp_3413',
 'Exp_3830',
 'Exp_3680',
 'Exp_2965',
 'Exp_3952',
 'Exp_1765',
 'Exp_3603',
 'Exp_3316',
 'Exp_5266',
 'Exp_1895',
 'Exp_1817',
 'Exp_4432',
 'Exp_5046',
 'Exp_2502',
 'Exp_1881',
 'Exp_4568',
 'Exp_3306',
 'Exp_1738',
 'Exp_4582',
 'Exp_2054',
 'Exp_2179',
 'Exp_5409',
 'Exp_3627',
 'Exp_2718',
 'Exp_5099',
 'Exp_2561',
 'Exp_4807',
 'Exp_3409',
 'Exp_1889',
 'Exp_4280',
 'Exp_2374',
 'Exp_3748',
 'Exp_4071',
 'Exp_2353',
 'Exp_4181',
 'Exp_3337',
 'Exp_5225',
 'Exp_4581',
 'Exp_2598',
 'Exp_4236',
 'Exp_2253',
 'Exp_4548',
 'Exp_2717',
 'Exp_2713',
 'Exp_2048',
 'Exp_2293',
 'Exp_4233',
 'Exp_2225',
 'Exp_4703',
 'Exp_4514',
 'Exp_3941',
 'Exp_4250',
 'Exp_4224',
 'Exp_2808',
 'Exp_4826',
 'Exp_4778',
 'Exp_5187',
 'Exp_3328',
 'Exp_4030',
 'Exp_4753',
 'Exp_4576',
 'Exp_4008',
 'Exp_2600',
 'Exp_4127',
 'Exp_4763',
 'Exp_5354',
 'Exp_2857',
 'Exp_4516',
 'Exp_2809',
 'Exp_2847',
 'Exp_3164',
 'Exp_2957',
 'Exp_1811',
 'Exp_2283',
 'Exp_4186',
 'Exp_2133',
 'Exp_1992',
 'Exp_1814',
 'Exp_2262',
 'Exp_3538',
 'Exp_4957',
 'Exp_3917',
 'Exp_5323',
 'Exp_4371',
 'Exp_1894',
 'Exp_3557',
 'Exp_5380',
 'Exp_1805',
 'Exp_4521',
 'Exp_4014',
 'Exp_2612',
 'Exp_2532',
 'Exp_1975',
 'Exp_3839',
 'Exp_4157',
 'Exp_3572',
 'Exp_2065',
 'Exp_2069',
 'Exp_3888',
 'Exp_3501',
 'Exp_1918',
 'Exp_3959',
 'Exp_2514',
 'Exp_4313',
 'Exp_1755',
 'Exp_2545',
 'Exp_5355',
 'Exp_5218',
 'Exp_4471',
 'Exp_5369',
 'Exp_5260',
 'Exp_4618',
 'Exp_3893',
 'Exp_4138',
 'Exp_4090',
 'Exp_4732',
 'Exp_5104',
 'Exp_2063',
 'Exp_2005',
 'Exp_2408',
 'Exp_4555',
 'Exp_4755',
 'Exp_4917',
 'Exp_4981',
 'Exp_1832',
 'Exp_2417',
 'Exp_2694',
 'Exp_4501',
 'Exp_4426',
 'Exp_3597',
 'Exp_4781',
 'Exp_3637',
 'Exp_4201',
 'Exp_4926',
 'Exp_3383',
 'Exp_2010',
 'Exp_2128',
 'Exp_4412',
 'Exp_2513',
 'Exp_3747',
 'Exp_5364',
 'Exp_3324',
 'Exp_4739',
 'Exp_2217',
 'Exp_2046',
 'Exp_4415',
 'Exp_2256',
 'Exp_2997',
 'Exp_2478',
 'Exp_3996',
 'Exp_4065',
 'Exp_4847',
 'Exp_4903',
 'Exp_2259',
 'Exp_3426',
 'Exp_2088',
 'Exp_2379',
 'Exp_5079',
 'Exp_5035',
 'Exp_3415',
 'Exp_3734',
 'Exp_2050',
 'Exp_4557',
 'Exp_2324',
 'Exp_4419',
 'Exp_3095',
 'Exp_5184',
 'Exp_3245',
 'Exp_4776',
 'Exp_3087',
 'Exp_5258',
 'Exp_3599',
 'Exp_2747',
 'Exp_2792',
 'Exp_2926',
 'Exp_2839',
 'Exp_5252',
 'Exp_4963',
 'Exp_2059',
 'Exp_4837',
 'Exp_5301',
 'Exp_5204',
 'Exp_4772',
 'Exp_3042',
 'Exp_1981',
 'Exp_3433',
 'Exp_2641',
 'Exp_4405',
 'Exp_2872',
 'Exp_4153',
 'Exp_2364',
 'Exp_4770',
 'Exp_2744',
 'Exp_2493',
 'Exp_3787',
 'Exp_3473',
 'Exp_3271',
 'Exp_3778',
 'Exp_3727',
 'Exp_1794',
 'Exp_3987',
 'Exp_3006',
 'Exp_4499',
 'Exp_4461',
 'Exp_3560',
 'Exp_1936',
 'Exp_5145',
 'Exp_4228',
 'Exp_5054',
 'Exp_3338',
 'Exp_4107',
 'Exp_4614',
 'Exp_5366',
 'Exp_3714',
 'Exp_4846',
 'Exp_4467',
 'Exp_4699',
 'Exp_4723',
 'Exp_4396',
 'Exp_2045',
 'Exp_3155',
 'Exp_3602',
 'Exp_4597',
 'Exp_2589',
 'Exp_2470',
 'Exp_3432',
 'Exp_3606',
 'Exp_2772',
 'Exp_2394',
 'Exp_3921',
 'Exp_4824',
 'Exp_3132',
 'Exp_5332',
 'Exp_3621',
 'Exp_4780',
 'Exp_3082',
 'Exp_4507',
 'Exp_1921',
 'Exp_3094',
 'Exp_2556',
 'Exp_4343',
 'Exp_4169',
 'Exp_3510',
 'Exp_3906',
 'Exp_4362',
 'Exp_5108',
 'Exp_5382',
 'Exp_4229',
 'Exp_4904',
 'Exp_4973',
 'Exp_4182',
 'Exp_2586',
 'Exp_4535',
 'Exp_4161',
 'Exp_4119',
 'Exp_3508',
 'Exp_2347',
 'Exp_4468',
 'Exp_4318',
 'Exp_5403',
 'Exp_3681',
 'Exp_4216',
 'Exp_3519',
 'Exp_2475',
 'Exp_2538',
 'Exp_2724',
 'Exp_4315',
 'Exp_4580',
 'Exp_4053',
 'Exp_2610',
 'Exp_4565',
 'Exp_2962',
 'Exp_4272',
 'Exp_3251',
 'Exp_4547',
 'Exp_3420',
 'Exp_4902',
 'Exp_3725',
 'Exp_2465',
 'Exp_4943',
 'Exp_4259',
 'Exp_3522',
 'Exp_4380',
 'Exp_5141',
 'Exp_3103',
 'Exp_4241',
 'Exp_3048',
 'Exp_2549',
 'Exp_2741',
 'Exp_1891',
 'Exp_3090',
 'Exp_4016',
 'Exp_4167',
 'Exp_5068',
 'Exp_3645',
 'Exp_2940',
 'Exp_5168',
 'Exp_4456',
 'Exp_2187',
 'Exp_2346',
 'Exp_2433',
 'Exp_3979',
 'Exp_3120',
 'Exp_2524',
 'Exp_1843',
 'Exp_2020',
 'Exp_3232',
 'Exp_5200',
 'Exp_2987',
 'Exp_4854',
 'Exp_2551',
 'Exp_4738',
 'Exp_2635',
 'Exp_3913',
 'Exp_2661',
 'Exp_2652',
 'Exp_1947',
 'Exp_3331',
 'Exp_3579',
 'Exp_3147',
 'Exp_4664',
 'Exp_4395',
 'Exp_2440',
 'Exp_3227',
 'Exp_2604',
 'Exp_2021',
 'Exp_1916',
 'Exp_2463',
 'Exp_2500',
 'Exp_3675',
 'Exp_3288',
 'Exp_3831',
 'Exp_2937',
 'Exp_2154',
 'Exp_3958',
 'Exp_3850',
 'Exp_2051',
 'Exp_5071',
 'Exp_5170',
 'Exp_4843',
 'Exp_5140',
 'Exp_3150',
 'Exp_4851',
 'Exp_3474',
 'Exp_3908',
 'Exp_4178',
 'Exp_3801',
 'Exp_1965',
 'Exp_2856',
 'Exp_2426',
 'Exp_4286',
 'Exp_1729',
 'Exp_2708',
 'Exp_3047',
 'Exp_2970',
 'Exp_5211',
 'Exp_3972',
 'Exp_3915',
 'Exp_2588',
 'Exp_4278',
 'Exp_3194',
 'Exp_2619',
 'Exp_1781',
 'Exp_3704',
 'Exp_4968',
 'Exp_5088',
 'Exp_4166',
 'Exp_3141',
 'Exp_4552',
 'Exp_3419',
 'Exp_2151',
 'Exp_2211',
 'Exp_3379',
 'Exp_1852',
 'Exp_2777',
 'Exp_3431',
 'Exp_5388',
 'Exp_2631',
 'Exp_5010',
 'Exp_2039',
 'Exp_3846',
 'Exp_3948',
 'Exp_1973',
 'Exp_4434',
 'Exp_1979',
 'Exp_1737',
 'Exp_2658',
 'Exp_4872',
 'Exp_3075',
 'Exp_4927',
 'Exp_4276',
 'Exp_2584',
 'Exp_4036',
 'Exp_3728',
 'Exp_3445',
 'Exp_2040',
 'Exp_3388',
 'Exp_4043',
 'Exp_2348',
 'Exp_4372',
 'Exp_1884',
 'Exp_3389',
 'Exp_3809',
 'Exp_3506',
 'Exp_2121',
 'Exp_3760',
 'Exp_2034',
 'Exp_3396',
 'Exp_3427',
 'Exp_5147',
 'Exp_3870',
 'Exp_3448',
 'Exp_2098',
 'Exp_4914',
 'Exp_3138',
 'Exp_4646',
 'Exp_5310',
 'Exp_4455',
 'Exp_3547',
 'Exp_4099',
 'Exp_1943',
 'Exp_4523',
 'Exp_2716',
 'Exp_2171',
 'Exp_4105',
 'Exp_2526',
 'Exp_3004',
 'Exp_2270',
 'Exp_3816',
 'Exp_3425',
 'Exp_4366',
 'Exp_3623',
 'Exp_2210',
 'Exp_4933',
 'Exp_4378',
 'Exp_4048',
 'Exp_2950',
 'Exp_1807',
 'Exp_3771',
 'Exp_4908',
 'Exp_3418',
 'Exp_3594',
 'Exp_1859',
 'Exp_5024',
 'Exp_5001',
 'Exp_4511',
 'Exp_3646',
 'Exp_4932',
 'Exp_3154',
 'Exp_2446',
 'Exp_4869',
 'Exp_5150',
 'Exp_1735',
 'Exp_2580',
 'Exp_2219',
 'Exp_4114',
 'Exp_1950',
 'Exp_1917',
 'Exp_2049',
 'Exp_2145',
 'Exp_4282',
 'Exp_5114',
 'Exp_4539',
 'Exp_4622',
 'Exp_4569',
 'Exp_4996',
 'Exp_1923',
 'Exp_2702',
 'Exp_4993',
 'Exp_3204',
 'Exp_3466',
 'Exp_2116',
 'Exp_4918',
 'Exp_4002',
 'Exp_4164',
 'Exp_4797',
 'Exp_3619',
 'Exp_4480',
 'Exp_2212',
 'Exp_4678',
 'Exp_1900',
 'Exp_4202',
 'Exp_2505',
 'Exp_1824',
 'Exp_4248',
 'Exp_4423',
 'Exp_4997',
 'Exp_1741',
 'Exp_3365',
 'Exp_3854',
 'Exp_4787',
 'Exp_5256',
 'Exp_4098',
 'Exp_2726',
 'Exp_5162',
 'Exp_2552',
 'Exp_5308',
 'Exp_2339',
 'Exp_2593',
 'Exp_1959',
 'Exp_3123',
 'Exp_3443',
 'Exp_4623',
 'Exp_3410',
 'Exp_4148',
 'Exp_2883',
 'Exp_5032',
 'Exp_3613',
 'Exp_5311',
 'Exp_5234',
 'Exp_4790',
 'Exp_3768',
 'Exp_4029',
 'Exp_3806',
 'Exp_4177',
 'Exp_2038',
 'Exp_3789',
 'Exp_4590',
 'Exp_5197',
 'Exp_3073',
 'Exp_2315',
 'Exp_4727',
 'Exp_5326',
 'Exp_2444',
 'Exp_4215',
 'Exp_3717',
 'Exp_4561',
 'Exp_4347',
 'Exp_3169',
 'Exp_5192',
 'Exp_3303',
 'Exp_3269',
 'Exp_2954',
 'Exp_1835',
 'Exp_3496',
 'Exp_4986',
 'Exp_1791',
 ...}

In [17]:
questions_selected = survey_phase_2[['ID','Q2','Q8','QI6','Q6_1','Q6_2','Q6_3','Q6_4','Q6_5','Q6_6','Q6_7','Q6_8','Q6_9','Q6_10']]
questions_selected = questions_selected.dropna()
questions_selected = questions_selected[questions_selected["Q2"]!="Don't know"]
questions_selected

,ID,Q2,Q8,QI6,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,Q6_7,Q6_8,Q6_9,Q6_10
0,Exp_5046,200 m2 or larger,Yes,4,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",Air-to-air or air-to-water heat pump,-,Fireplace or wood stove,-,-,-,-,-
1,Exp_5386,160-199 m2,No,5,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",Air-to-air or air-to-water heat pump,-,Fireplace or wood stove,-,-,-,-,-
2,Exp_5403,60-79 m2,No,2,"Electric heaters (panel heaters, freestanding ...",-,-,-,-,-,-,-,-,-
3,Exp_5113,120-159 m2,No,3,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",-,-,Fireplace or wood stove,-,-,-,-,-
4,Exp_5240,120-159 m2,No,2,-,"Electric underfloor heating (heating cables, h...",Air-to-air or air-to-water heat pump,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4038,Exp_4739,160-199 m2,No,3,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",Air-to-air or air-to-water heat pump,-,Fireplace or wood stove,-,-,-,-,-
4039,Exp_4973,100-119 m2,No,3,-,"Electric underfloor heating (heating cables, h...",-,-,-,-,District heating or other shared solution for ...,-,-,-
4040,Exp_4415,60-79 m2,No,3,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",-,-,Fireplace or wood stove,-,-,-,-,-
4041,Exp_4663,200 m2 or larger,No,2,"Electric heaters (panel heaters, freestanding ...","Electric underfloor heating (heating cables, h...",Air-to-air or air-to-water heat pump,-,Fireplace or wood stove,-,-,-,-,-
4042,Exp_4528,60-79 m2,No,1,"Electric heaters (panel heaters, freestanding ...",-,Air-to-air or air-to-water heat pump,-,-,-,-,-,-,-

In [18]:
def is_electric_heated(row):
    electric_heating_keywords = [
    'Electric heaters', 
    'Electric underfloor heating', 
    'Air-to-air or air-to-water heat pump', 
    'Waterborne heat that is heated with electricity in your own home'
]
    return True if any(keyword in str(value) for keyword in electric_heating_keywords for value in row) else False

questions_selected['electrically_heated'] = questions_selected.apply(is_electric_heated, axis=1)
questions_selected = questions_selected.drop(columns=['Q6_1','Q6_2','Q6_3','Q6_4','Q6_5','Q6_6','Q6_7','Q6_8','Q6_9','Q6_10'])
questions_selected.rename(columns={'Q2': 'home_size'}, inplace=True)
questions_selected.rename(columns={'Q8': 'electric_car'}, inplace=True)
questions_selected.rename(columns={'QI6': 'no_of_people'}, inplace=True)

questions_selected

,ID,home_size,electric_car,no_of_people,electrically_heated
0,Exp_5046,200 m2 or larger,Yes,4,True
1,Exp_5386,160-199 m2,No,5,True
2,Exp_5403,60-79 m2,No,2,True
3,Exp_5113,120-159 m2,No,3,True
4,Exp_5240,120-159 m2,No,2,True
...,...,...,...,...,...
4038,Exp_4739,160-199 m2,No,3,True
4039,Exp_4973,100-119 m2,No,3,True
4040,Exp_4415,60-79 m2,No,3,True
4041,Exp_4663,200 m2 or larger,No,2,True
4042,Exp_4528,60-79 m2,No,1,True

In [19]:
questions_selected.isna().value_counts()

ID     home_size  electric_car  no_of_people  electrically_heated
False  False      False         False         False                  3979
Name: count, dtype: int64

In [20]:
len(questions_selected["ID"].unique())

3979

In [21]:
phase_2_survey_merged = pd.merge(phase_2, questions_selected, on='ID', how='inner')
phase_2_survey_merged = phase_2_survey_merged.drop(columns=["Temperature24","Temperature48","Temperature72"])
phase_2_survey_merged.to_csv(parent_directory+"/data/phase_2_data_with_survey.csv",index=False)
phase_2_survey_merged

,ID,From,Date,Hour,Participation_Phase,Demand_kWh,Temperature,home_size,electric_car,no_of_people,electrically_heated
0,Exp_3928,2020-12-01 00:00:00+00:00,2020-12-01,1,Phase_2,4.430,4.2,120-159 m2,No,4,True
1,Exp_3928,2020-12-01 01:00:00+00:00,2020-12-01,2,Phase_2,4.500,4.2,120-159 m2,No,4,True
2,Exp_3928,2020-12-01 02:00:00+00:00,2020-12-01,3,Phase_2,5.440,3.9,120-159 m2,No,4,True
3,Exp_3928,2020-12-01 03:00:00+00:00,2020-12-01,4,Phase_2,4.500,3.1,120-159 m2,No,4,True
4,Exp_3928,2020-12-01 04:00:00+00:00,2020-12-01,5,Phase_2,4.480,2.4,120-159 m2,No,4,True
...,...,...,...,...,...,...,...,...,...,...,...
4724443,Exp_5254,2021-03-26 19:00:00+00:00,2021-03-26,20,Phase_2,3.464,7.5,160-199 m2,Yes,5,True
4724444,Exp_5254,2021-03-26 20:00:00+00:00,2021-03-26,21,Phase_2,2.432,7.3,160-199 m2,Yes,5,True
4724445,Exp_5254,2021-03-26 21:00:00+00:00,2021-03-26,22,Phase_2,4.479,7.5,160-199 m2,Yes,5,True
4724446,Exp_5254,2021-03-26 22:00:00+00:00,2021-03-26,23,Phase_2,2.212,7.4,160-199 m2,Yes,5,True
4724447,Exp_5254,2021-03-26 23:00:00+00:00,2021-03-26,24,Phase_2,2.476,7.1,160-199 m2,Yes,5,True

In [22]:
len(phase_2_survey_merged["ID"].unique())

1697